
/*
font-family: 'Philosopher', sans-serif;
font-family: 'Allerta', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Allerta Stencil', sans-serif;
*/

body {
	/*background: url('../img/birds.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

	font-family: 'Allerta', sans-serif;
}

div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

h1 {
	font-size: 1.6em;
	margin-bottom: 10px;

	text-align: center;
	text-transform: uppercase;
	color: #333;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: #BBB;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.0em;
	margin-bottom: 10px;
}

.content {
	max-width: 98%;
	margin: 1% auto 1% auto;
	padding: 2%;

	border: #F08 dashed 2px;
	/*box-shadow: 0px 0px 20px #DDD;*/
}

nav {
	margin-bottom: 10px;
	font-size: 0.7em;

	text-align: center;
	color: #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

nav a {
	margin-left: 5px;
	margin-right: 5px;

	color: #AAA;
	text-transform: uppercase;
}

.line {
	display: none;

	background-color: #AAA;
	width: 50px;
	height: 1px;
	margin-bottom: 0.3em;
}

.half {
	width: 50%;
	float: left;
}

img {
	margin-left: 0%;
	width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	color: #F08;
}

p {
	font-size: 1em;
	margin-top: 0.2em;

	text-align: center;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.weak {
	color: #CCC;
}