
h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 20px;

	color: #CCC;
	display: block;
}

.content {
	max-width: 90%;
	margin: 5% auto 5% auto;
	padding: 1em;
}

nav {
	margin: 0px;
	margin-bottom: 20px;

	font-size: 1.0em;
	font-weight: 100;
	color: #AAA;
}

nav a {
	margin-left: 15px;
	margin-right: 15px;

	color: #AAA;
}

.line {
	/*display: inline-block;*/
	width: 20px;
}

img {
	margin-left: 5%;
	width: 90%;
}

p {
	font-size: 1.5em;
	/*margin-top: 20px;*/
}

.submenu a {
	display: inline;
	font-size: 1.5em;
}